input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-linkDarkMode transition duration-300;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.container {
    @apply max-w-6xl mx-auto;
}

/* Admin Styles */

/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
    color: #4a5568;
    /*text-gray-700*/
    padding-left: 1rem;
    /*pl-4*/
    padding-right: 1rem;
    /*pl-4*/
    padding-top: 0.5rem;
    /*pl-2*/
    padding-bottom: 0.5rem;
    /*pl-2*/
    line-height: 1.25;
    /*leading-tight*/
    border-width: 2px;
    /*border-2*/
    border-radius: 0.25rem;
    border-color: #edf2f7;
    /*border-gray-200*/
    background-color: #edf2f7;
    /*bg-gray-200*/
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;
    /*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    border: 1px solid transparent;
    /*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;
    /*border-b-1 border-gray-300*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #667eea !important;
    /*bg-indigo-500*/
}

/* Loading */
.dataTables_wrapper .dataTables_processing {
    /* @apply absolute left-1/2 -translate-x-1/2 m-0 -top-16 bg-opacity-100 h-auto p-0 w-full from-transparent to-transparent bg-gradient-to-b; */
    @apply w-auto left-1/2 m-0 -translate-x-1/2 p-0 h-auto invisible -top-4;
}

.dataTables_wrapper .dataTables_processing::after {
    @apply block visible indent-0 leading-[initial] font-bold text-4xl;
    content: 'Loading...';
}

/* input styles */
.is-invalid {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder:text-red-700 focus:ring-red-500 focus:border-red-500 dark:bg-red-100 dark:border-red-400;
}

.is-invalid::placeholder {
    @apply text-red-700;
}
